
:root {
  --Navbar: #000000;
  --Bg-1: #1B1C1D; 
  --text-1: #F2E782;
  --sub-text: #928F88; 
  --texts: #FFFFFF; 
  --box: #999358;
  --item-bg: #18528B; 
  --bg-2: #434341;
  --item-bg-sec: #0C467F;
  
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("../assets/fonts/static/ArchivoNarrow-Bold.ttf") format("truetype");
  font-weight: 700; /* Matches your styled-component */
  font-style: bold;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: 400; /* Italic is typically normal weight */
  font-style: italic;
}
@font-face {
  font-family: "Tenor Sans";
  src: url("../assets/fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
